<!-- single product -->

  <div class="featured-container p-5">
    <img
      src="assets/img/img-products/product-1.png"
      class="img-fluid"
      alt="product"
    />
    <span
      class="featured-search-icon"
      data-toggle="modal"
      data-target="#productModal"
    >
      <i class="fas fa-search"></i>
    </span>
    <a href="#" class="featured-store-link text-captilaze">add to cart</a>
  </div>
  <h6 class="text-capitalize text-center my-2">special product</h6>
  <h6 class="text-center">
    <span class="text-muted old-price mx-2">$200</span>
    <span>$100</span>
  </h6>

<!-- end single product -->
