
  <!-- categories -->
  <div class="products-categories-title my-4">
    <h6 class="text-uppercase">shop by categories</h6>
    <div class="products-categories-underline"></div>
  </div>
  <!-- single link -->
  <a href="#" class="d-block products-categories-link">
    <p class="mb-0">kitchen</p>
  </a>
  <!-- end of single link -->
  <!-- single link -->
  <a href="#" class="d-block products-categories-link">
    <p class="mb-0">bathroom</p>
  </a>
  <!-- end of single link -->
  <!-- single link -->
  <a href="#" class="d-block products-categories-link">
    <p class="mb-0">living room</p>
  </a>
  <!-- end of single link -->
  <!-- single link -->
  <a href="#" class="d-block products-categories-link">
    <p class="mb-0">bedroom</p>
  </a>
  <!-- end of single link -->
  <!-- single link -->
  <a href="#" class="d-block products-categories-link">
    <p class="mb-0">patio</p>
  </a>
  <!-- end of single link -->
  <!-- end of title -->
  <div class="products-categories-title my-4">
    <h6 class="text-uppercase">shop by price</h6>
    <div class="products-categories-underline"></div>
  </div>
  <form>
    <div class="form-group">
      <label for="price-range">range : $0 - $1000</label>
      <input type="range" name="price-range" class="form-control-range" id="price-range">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text form-icon">
          <i class="fa fa-search"></i>
        </span>
      </div>
      <input type="text" class="form-control text-capitalize" placeholder="search by name">
    </div>
  </form>
  <!-- end of title -->
  <div class="products-categories-title my-4">
    <h6 class="text-uppercase">shop by color</h6>
    <div class="products-categories-underline"></div>
  </div>
  <!-- single color -->
  <a href="#">
    <p class="text-capitalize mb-0">
      <span class="d-inline-block products-color products-color-black mr-2"></span>black (5)
    </p>
  </a>
  <!-- end of single color -->
  <!-- single color -->
  <a href="#">
    <p class="text-capitalize mb-0">
      <span class="d-inline-block products-color products-color-red mr-2"></span>red (5)
    </p>
  </a>
  <!-- end of single color -->
  <!-- single color -->
  <a href="#">
    <p class="text-capitalize mb-0">
      <span class="d-inline-block products-color products-color-blue mr-2"></span>blue (5)
    </p>
  </a>
  <!-- end of single color -->
  <!-- single color -->
  <a href="#">
    <p class="text-capitalize mb-0">
      <span class="d-inline-block products-color products-color-yellow mr-2"></span>yellow (5)
    </p>
  </a>
  <!-- end of single color -->
  <!-- single color -->
  <a href="#">
    <p class="text-capitalize mb-0">
      <span class="d-inline-block products-color products-color-green mr-2"></span>green (5)
    </p>
  </a>
  <!-- end of single color -->
  <!--  -->
