<app-banner2 className="banner-single-product" text1="comfy sloth" text2="single product"></app-banner2>
<section class="single-product py-5">
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto col-lg-4 text-center my-5">
        <app-product-image></app-product-image>
      </div>
      <!-- info -->
      <div class="col-10 mx-auto col-lg-8 single-product-info my-5 px-lg-5">
        <app-product-info></app-product-info>
        </div>
    </div>
  </div>
</section>
<app-product-jumbotron></app-product-jumbotron>
