<div class="container">
  <div class="row my-3">
    <div class="col-10 mx-auto text-center">
      <h1 class="text-uppercase">featured products</h1>
      <p class="text-muted">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora,
        recusandae.
      </p>
    </div>
  </div>
  <div class="row">
      <!-- single product -->

      <app-product class="col-10 mx-auto col-md-6 col-lg-4"></app-product>
      <app-product class="col-10 mx-auto col-md-6 col-lg-4"></app-product>
       <app-product class="col-10 mx-auto col-md-6 col-lg-4"></app-product>
       <app-product class="col-10 mx-auto col-md-6 col-lg-4"></app-product>
       <app-product class="col-10 mx-auto col-md-6 col-lg-4"></app-product>
       <app-product class="col-10 mx-auto col-md-6 col-lg-4"></app-product>
  </div>

  </div>
  <app-product-model></app-product-model>
