
<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <!-- product info links -->
          <div
            class="d-flex justify-content-around flex-wrap my-3 text-center"
          >
            <a href="#" class="product-info-link">
              <h4 class="text-capitalize">description</h4>
            </a>
            <a href="#" class="product-info-link">
              <h4 class="text-capitalize">additional information</h4>
            </a>
            <a href="#" class="product-info-link">
              <h4 class="text-capitalize">reviews (25)</h4>
            </a>
          </div>

          <!-- end of product info links -->
          <p class="lead">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim
            debitis, facere similique fuga repudiandae itaque inventore
            minus quos hic non provident a voluptate? Accusantium dolores
            architecto consequatur facere, aliquid cum excepturi vitae
            molestias ab. Culpa numquam nobis beatae est dolore.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of product info -->
