<div class="single-product-img-container">
  <img
    src="assets/img/img-products/product-1.png"
    class="img-fluid"
    alt=""
  />
</div>
<div class="row single-product-photos mt-3">
  <!-- single photo -->
  <div class="col-2 col-sm-2 single-product-photo p-1">
    <img
      src="assets/img/img-products/product-1.png"
      class="img-fluid"
      alt=""
    />
  </div>
  <!-- endo of single photo -->
  <!-- single photo -->
  <div class="col-2 col-sm-2 single-product-photo p-1">
    <img
      src="assets/img/img-products/product-1.png"
      class="img-fluid"
      alt=""
    />
  </div>
  <!-- endo of single photo -->
  <!-- single photo -->
  <div class="col-2 col-sm-2 single-product-photo p-1">
    <img
      src="assets/img/img-products/product-1.png"
      class="img-fluid"
      alt=""
    />
  </div>
  <!-- endo of single photo -->
  <!-- single photo -->
  <div class="col-2 col-sm-2 single-product-photo p-1">
    <img
      src="assets/img/img-products/product-1.png"
      class="img-fluid"
      alt=""
    />
  </div>
  <!-- endo of single photo -->
  <!-- single photo -->
  <div class="col-2 col-sm-2 single-product-photo p-1">
    <img
      src="assets/img/img-products/product-1.png"
      class="img-fluid"
      alt=""
    />
  </div>
  <!-- endo of single photo -->
  <!-- single photo -->
  <div class="col-2 col-sm-2 single-product-photo p-1">
    <img
      src="assets/img/img-products/product-1.png"
      class="img-fluid"
      alt=""
    />
  </div>
  <!-- endo of single photo -->
</div>
