.banner-products,
.banner-single-product,
.banner-store {
  min-height: 60vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/assets/img/pageBcg/productsBcg.jpeg") center/cover fixed no-repeat;
}
.banner-single-product {
  min-height: 60vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/assets/img/pageBcg/singleBcg.jpeg") center/cover fixed no-repeat;
}
.banner-store {
  min-height: 60vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/assets/img/pageBcg/storeBcg.jpeg") center/cover fixed no-repeat;
}
